{% block html_head %}
{% include 'head.twig' %}
{% endblock %}

<body class="{{ body_class }}">
<div class="site-wrap">

    {% block header %}
        {% include 'header.twig' %}
    {% endblock %}

    <section id="content" role="main" class="content-wrapper">
        <div class="wrapper {{sidebar_class}}">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </div>
        {% if sidebar %}
            <aside class="layout-sidebar">
                {{sidebar}}
            </aside>
        {% endif %}
    </section>

    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
</div>

{{ function('wp_footer') }}
</body>