<!doctype html>
<html class="no-js" {{ function('get_language_attributes') }}>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ function('wp_head') }}
</head>