{% extends 'base.twig' %}

{% block content %}
    {% for post in posts %}
        <a href="{{ post.link }}">
            <h1>{{ post.title }}</h1>
        </a>
        <p>{{ post.post_excerpt }}</p>
    {% endfor %}
{% endblock %}